<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">

	<th:block th:fragment="content">
		<h1 class="mt-4">게시판 목록</h1>
		<table class="table table-striped">
			<thead>
			<tr>
				<th scope="col">번호</th> <!-- #은 번호라는 의미 -->
				<th scope="col">제목</th>
				<th scope="col">내용</th>
				<th scope="col">작성자</th>
				<th scope="col">작성일</th>
			</tr>
			</thead>
		
		</table>
	</th:block>
</th:block>